header {
	height: 70px;
	width: 100%;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	background: url("../images/logo.png") no-repeat;
	background-position: 20px;
	background-color: white;
	margin: 0;
	padding: 0;
}
